{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container custom_container div_space">
    <div class="row">
      <div class="col-lg-4">
        <h4>Branded Ladies Leggigns manufactoring company</h4>
        we believe on our brands
      </div>
      <div class="col-lg-4">
        <h4>Our journey</h4>
        We strtted our journey from 2010 <br>
        with our small team of 10
      </div>
      <div class="col-lg-4">
        <h4>TEAM NESCODE</h4>
        We are a “First customer” company. <br>
        Genuineness of Bibz lies in our <br>
        products and services in e-commerce domain.<br>
         We are inclusive by nature and believe <br>
          in making a meaningful impact at every step<br>
          to customers
      </div>
    </div>
  </div>
{% endblock %}
