{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container div_space custom_container">
    <div class="row">
      <div class="col-lg-4">
        <h3>BIBZ INDIA LIMITED</h3>
        <p>#18,2nd main road,Peenya,Bangalore,560058</p>
        <p>Ph:999999999</p>
        <p>Mob:9999999999</p>
      </div>
      <div class="col-lg-4">
        <h3>BIBZ India limited</h3>
        <p>qerqefqewrqwrqwer</p>
        <p>octicon-diff-addedWR</p>
        <p>sdWE</p>
      </div>
      <div class="col-lg-4">
        <h3>BIBZ India limited</h3>
        <p>QDFQEFQEFQEFQEF</p>
        <p>fqegwergergsgfda</p>
      </div>
    </div>
  </div>
{% endblock %}
